.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.4);
  z-index: 2000;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  animation: fadeIn 0.25s ease;
}

.loader {
  border: 4px solid #ddd;
  border-top: 4px solid #3c7eff;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.loader-overlay p {
  margin-top: 12px;
  font-size: 16px;
  color: #333;
}
